<div id="<%= dom_id post %>" class="post-card">
  <div class="post">
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= post.username %>
    </p>

    
    <p>
      <strong>Content:</strong>
      <%= post.content %>
    </p>

    <p>
      <strong>Salary:</strong>
      <%= post.salary %>
    </p>

    <div class="apply-div">
    <p class="apply">Quick Apply</p>
    <p class="save">Save<p>
    </div>
  </div>
</div>