
<div class="crud-header">
<h1>crudstreet</h1>
<h4>by E</h4>
</div>

<div class="login-div">
<p class="login">Login</p>
<p class="login-emp">Employer Site</p>
</div>
<p style="color: green" class="notif"><%= notice %></p>
<br>
<br>
<div class="search-bar2">
<br>
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
  <br>
  <br>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>


